@use './1-abstracts/functions' as fun;
@use './1-abstracts/fonts';
@use './1-abstracts/mixins';

@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap);

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --mb-btn-input-height: #{fun.toRem(42px)};
    --mb-btn-input-width: 81%;
    --mb-btn-input-width-max: #{fun.toRem(344px)};
    --btn-input-border-radius: #{fun.toRem(3px)};
    --padding-around-header: #{fun.toRem(24px)};
    --testimonial-width: #{fun.toRem(286px)};
    --testimonial-height: #{fun.toRem(168px)};
    --transition: 200ms;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    // min-width: fun.toRem(375px);

    display: flex;
    justify-content: center;

    // debug
    // background-color: gray;
    background-color: white;
    
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2, p {
    margin: 0;
}

img, input {
    display: block;
}

.container {
    width: 89%;
    background-color: white;
    min-width: fun.toRem(375px);

    font-size: fonts.$size-sm;

    @include mixins.breakpoint-up(large) {
        // width: calc(90% + 72px);
        max-width: fun.toRem(1440px);
    }
}

.illustration {
    margin: auto auto 0;
    width: 74%;

    @include mixins.breakpoint-up(large) {
        width: 40%;
        margin: auto;
    }

    img{
        width: 100%;
    }
}

