@use './1-abstracts/fonts';
@use './1-abstracts/colors';
@use './1-abstracts/functions' as fun;
@use './1-abstracts/mixins';

:root {

}

body {
    font-family: fonts.$font-opensans;
}

h1, h2, .cta .btn, .navbar {
    font-family: fonts.$font-raleway, sans-serif;
}

h1, h2, p, .btn {
    text-align: center;
}

.feature .text  > p {
    text-align: left;
}

h1, h2,  p, div.feature .text p {
    color: colors.$very-dark-blue;

    @include mixins.breakpoint-up(large) {
        text-align: left;
    }
}

h1 {
    font-size: fonts.$size-xlg;
    font-weight: 700;

    @include mixins.breakpoint-up(xlarge) {
        font-size: fonts.$size-xxlg;
    }

    @include mixins.breakpoint-up(xxlarge) {
        font-size: fonts.$size-xxxlg;
    }
}

h2 {
    font-size: fonts.$size-md;
    font-weight: 700;
}

a {
    color: colors.$very-dark-blue;
    transition: filter var(--transition) ease-in-out, color var(--transition) ease-in-out;
    
    &:hover, &:focus {
        color: colors.$bright-blue;
        filter: brightness(1.4);
    }
}

input {
    font-size: fonts.$size-sm;    
}

.btn {
    cursor: pointer;
    color: colors.$light-grayish-blue;
    font-weight: 700;
    font-size: fonts.$size-xsm;
}

.navbar {
    font-size: fonts.$size-xxsm;

    @include mixins.breakpoint-up(small) {
        font-size: fonts.$size-xsm;
    }
}

.hero {

    p {
        @include mixins.breakpoint-up(large) {
            font-size: fonts.$size-xsm;
        }

        @include mixins.breakpoint-up(xlarge) {
            font-size: fonts.$size-sm;
        }
    }
}

.feature {
    .text {
        h2 {
            @include mixins.breakpoint-up(small) {
                font-size: fonts.$size-lg;
            }

            @include mixins.breakpoint-up(large) {
                font-size: fonts.$size-lg;
            }

            @include mixins.breakpoint-up(xlarge) {
                font-size: fonts.$size-xlg;
            }
            @include mixins.breakpoint-up(xxlarge) {
                font-size: fonts.$size-xxlg;
            }
        }        

        p {
            color: colors.$desaturated-blue;
            font-size: fonts.$size-xsm;

            @include mixins.breakpoint-up(small) {
                text-align: center;
            }

            @include mixins.breakpoint-up(large) {
                font-size: fonts.$size-xxsm;
            }

            @include mixins.breakpoint-up(xlarge) {
                font-size: fonts.$size-xsm;
            }
        }
    
        a {
            color: colors.$moderate-cyan;
            // text-decoration: ;
            // text-underline-offset: fun.toRem(10px);
        }
    }
    
    .card p {
        font-size: fonts.$size-xxxsm;
        text-align: left;
        line-height: 1.5em;

        @include mixins.breakpoint-up(xxlarge) {
            font-size: fonts.$size-xxsm;
            line-height: 1.4em;
        }
    }
    
    .testimonial {
        .name {
            font-weight: 700;
            font-size: fonts.$size-xsm;
        }
    
        .role {
            font-size: fonts.$size-xxsm;
        }
    
    }
}


.subscription {
    input {

        &::placeholder {
            opacity: 0.3;
            font-size: fonts.$size-xxsm;    
        }
    }

    .error-msg {
        font-size: fonts.$size-xxsm;
        color: red;
    }

    .btn {
        font-size: fonts.$size-xxsm;
    }
}

.subscribe {    
    h2, p {
        color: white;
    }

    h2 {
        @include mixins.breakpoint-up(large) {
            font-size: fonts.$size-xlg;
        }
    }

    p {
        font-size: fonts.$size-xsm;
        line-height: 1.5em;

        @include mixins.breakpoint-up(large) {
            font-size: fonts.$size-sm;
        }
    }

    .error-msg {
        color: white;
    }
}

.footer {
    color: white;
    font-size: fonts.$size-xsm;

    .link-group {
        // &:last-child {
            @include mixins.breakpoint-up(small) {
                text-align: center;
            }
        // }
    }

    a {
        color: white;

        &:hover, &:focus {
            color: colors.$bright-blue;
        }
    }
}

